
.login .bodylogin {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
/* Page Body After NavBar */

/* LOGIN REGISTER */
.login .headTitle {
    font-size: 4rem;
    color:#FAAF40;
}

/* description under REGISTER */
.login .describtion{
    font-size: 3rem;
}
/* FORM */
.login input{
    height: 3vh;
}
/* SubmitBTN */
.login .submitbtn {
    background-color: #FAAF40;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 4%;
    margin-top: 4%;
}
/* REGISTER */
.login .registerbtn {
    background-color: #FAAF40;
    font-size: 1.5rem;
    font-weight: 600;
}