.login .bgImage{
    background-image: url("../landing/assets/img/header-bg.jpg");
    padding: 0;
    margin: 0;
    /* background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); */
}
.gradient-custom-3 {
    /* fallback for old browsers */
    background: #ffff;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(0, 0,0, 0.5), rgba(14, 0, 0, 0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(0, 0.5, 0, 0.5), rgba(14, 0, 0, 0.5))
  }
  .gradient-custom-4 {
    /* fallback for old browsers */
    background: #ffff;
  
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(14, 0, 0, 0.5)); */
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(14, 0, 0, 0.5)) */
  }
 .form-color-login{
     background:blue;
 }

 .loginn {
   min-width: 5vw !important;
 }