.register body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* Page Body After NavBar */

/* LOGIN REGISTER */
.register .headTitle {
    font-size: 4rem;
}

.register input {
    height: 3.5vh;
}

.register .describtion {
    margin-top: 20%;
}

/* SubmitBTN */
.register .submitbtn {
    background-color: #FAAF40;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 2%;
}

.register img {
    max-width: 100%;
    max-height: 100%;
}

.register .logo {
    height: 300px;
    width: 300px;
}