.profile .tabsssss {
    background-color: #fffcf8;
    padding:5% !important ;
    border: solid black 1px;
}

.profile .tab {
    background-color: #ffffff;
    padding:5%;
    border: solid black 2px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.profile .btn-add {
    background-color: #faaf40 !important;
    color: black !important;
}
.profile .btn-add:hover {
    background-color: rgb(24, 22, 22) !important;
    color: #f3a42d !important;
}


.profile h4, p {
    display : inline;
    color: black;
}

.profile .modal-box {
    /* border: red solid 2px; */
    color:rgb(24, 22, 22);
    background-color:#faaf40;
    
}
.profile .pic {
    border: solid red 10px;

}
.titleProfile {
    color: red !important;
}
.titles{
    text-decoration:double;
    font-size: 1rem;
    font-family: inherit !important;
    color: #f3a42d;
}