.popup .modaaalcss{
    height: 50px;
    margin: 0 10px;
}

.popup .inputField {
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    border: none;
    border-bottom:  1px solid;
}

.popup .modal-footer {
    border-top: 0 none;
}