.home .custom-modal-header{
    background-color: #FAAF40 !important;
    color:#151A1E !important;
}

.home .main {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.home h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
}

.home .search {
    width: 30%;
}

.home ul li {
    font-size: 20px;
} 
.userImage{
    /* width: 30px; */
    border-radius: 50%;
    object-fit: cover;
}