.home .custom-modal-header{
    background-color: #FAAF40 !important;
    color:#151A1E !important;
}

.home .main {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.home h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
}

.home .search {
    width: 30%;
}

.home ul li {
    font-size: 20px;
} 
.userImage{
    /* width: 30px; */
    border-radius: 50%;
    object-fit: cover;
}

.box{

	width: 100%;

	height: 50px;

	background-color: rgb(255, 255, 255);

    border : solid 5px black;

	border-radius: 30px;

	display: flex;

	align-items: center;

	padding: 20px;
/* 
    animation: pulse 5s infinite;
    -webkit-animation: pulse 5s infinite; */
}

.boxx {
    border: solid 2px #e2b203;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}


/* @keyframes pulse {
    0% {
      background-color: rgb(233, 217, 217);
    }
    100% {
      background-color: #f1e6bc;
    }
  } */

/* .boxx.animated_pulse:hover {
	--animate__repeat: 1;
 } */

.input{
    width: 100%;
    border: none;
    border: none;
	outline: none;
}
.card__btn{
    background: #e2b203 !important;
    color: white !important;
    border: none;
}
/* .card__btn:hover {
   
  }  */
