.postsCards .postcard{
    background-color: #ffff !important;
    color: #000 !important;
}
.postsCards .text-link{
   text-decoration: none; 
   color: #000 !important;
   font: bold;
   font-size: large;
}
.postsCards .darkcustombtn{
    background-color: #151A1E !important;
    color: #ffff !important;
}
.postsCards .darkcustombtnActive{
    background-color: #FAAF40 !important;
    color: #151A1E !important;
    border: #FAAF40 !important;

}
.postsCards .offertxt{
    height: 130px !important;
}
.postsCards .userImage{
    /* width: 30px; */
    border-radius: 50%;
    object-fit: cover;
}
