input[type="radio"] {
    display: none;
}

.star{
    cursor: pointer;
    transition: color 200ms;
}
.reviewbtn{
    background: #cca000;
    color: white;
}
.reviewbtn:hover {
    background: white;
    color: #cca000;
  } 