
.dealsCard .item {
    margin-top:5%;
    z-index: 0;
}
.counter{
    font-family: inherit;
    font-size: 1.5rem;
    color:  #cca000;

}
.smallText{
    color:  #504f4e;
    font-family: inherit;
    font-size: 0.8rem;

}
.price{
    color: white;
    background-color: #0b7b8a;
}