/***************************** NAVABAR**********************************************/
/*   old nav style */
/* NAVLOGO */
.navbar{
  background-color: #faaf40 !important;
}
.nav-link {
  color: #151a1e !important;
}

.navbar-brand .logo {
  width: 60px;
}

/* 3 LINKS ON RIGHT */
.homelink {
  margin: 10px 0px;
  font-weight: 500;
  font-size: x-large;
}

.bell {
  width: 50px;
}
.chat {
  width: 50px;
}

/* Nav bar */
.cnavbar , .COffcanvas{
  background-color: #faaf40 ;
  font-size: large;
}
.cnavbar{ 
  z-index: 100;
}
/* right side of navbar */
.nav-right{
  margin-left: auto;
  padding: 0.5%;
}
.notify-icon{
  padding-top: 1.3%;
}
