/***************************** NAVABAR**********************************************/
/*   old nav style */
/* NAVLOGO */
.navbar{
  background-color: #faaf40 !important;
}
.nav-link {
  color: #151a1e !important;
}

/* 3 LINKS ON RIGHT */
.homelink {
  margin: 10px 0px;
  font-weight: 500;
  font-size: x-large;
}

.bell {
  width: 50px;
}
.chat {
  width: 50px;
}

/* Nav bar */
.cnavbar , .COffcanvas{
  background-color: #faaf40 ;
  font-size: large;
  z-index: 0;
}
.cnavbar{ 
  z-index: 100;
}
/* right side of navbar */
.nav-right{
  margin-left: auto;
  padding: 0.5%;
}
.notify-icon{
  padding-top: 1.3%;
}

.navParent{
  position: relative;
}
.notifications{
  position: absolute;
  top: 70px;
  right: 10px;
  background-color: white;
  color:black;
  font-weight: 300;
  display: flex;
  flex-direction: column;

}
.notification{
  padding: 5px;
  font-size: 14px;
}