.footerbackground {
    background-image: url("../../static/world.png");
 background-color: #151A1E;
}

.footerTitle {
    color:  #FAAF40 !important;
}

.sitemenuItems {
    text-decoration: none;

}